* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

section {

    padding: 0px 0;
    overflow: hidden;
    text-align: center;
}

.section-header {
    text-align: start;
    padding-bottom: 40px;
}

.partition-container {
    display: flex;

  }

.header {
    background: #D9D9D9;
    height: 86px;
    transition: all 0.5s;
    z-index: 997;
}

.header .logo {
    width:333px;
    height:38px;
}

.hero {
    background: #f7f7f7;
    width: 100%;
    height: 500px;
    justify-content: start;
}
.hero .btn {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
  }

 .hero .title {
    margin-top: 50px;
    margin-left: 40px;
    align-items: start;
    justify-content: start;
    display: flex;
}

.main .title {
    color: #fff;
    margin-top: 50px;
    margin-left: 40px;
    align-items: start;
    justify-content: start;
    display: flex;
}
  .main{
    background: #1E1E1E;
    height: 700px;
    width: 100%;
    margin-bottom: 35px;
  }

  .recommend{
    background: #1E1E1E;
    height: 635px;
    width: 100%;
  }

  .recommend .title {
    color: #fff;
    margin-top: 50px;
    margin-left: 40px;
    align-items: start;
    justify-content: start;
    display: flex;
}
  .search {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .card-list {
    margin-top: 20px;
    overflow-x: auto; 
    flex-wrap: nowrap; 
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    
  }
  
  .movie-card { 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    width: 325px;
    height: 600px;
    justify-self: center;
    background-color: #D9D9D9;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .movie-card img {
    width: 100%;
    border-radius: 10px;
  }